* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #bfbcbc;
    height: 100vh;
    margin: 0;
    padding: 20px;
    /* Add padding to give some space around your content */
}

h2 {
    text-align: center;
}

.navbar {
    margin-bottom: auto;
    background-color: #ffffff;
    border-radius: 10px;
}

.flex-container ul {
    align-items: start;
    justify-content: center;
    height: 500px;
    max-height: 5000px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;

}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: auto;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background: #4ca3af;
    border-radius: 10px;
}

ul li:hover ul.dropdown {
    display: block;
    background: #81e3fc;
    border-radius: 10px;
}

.scrollable-list {
    max-height: 500px;
    overflow-y: auto;
    margin-top: 20px;
}

#listToShow {
    padding: 0;
    /* Remove padding from the list */
    list-style-type: none;
    /* Remove bullet points */
}

#listToShowUser li,
#listToShowContact li,
#listToShowGuest li,
#listToShowMeeting li,
#listToShowParticipations li,
#listToShowApprovals li,
#listToShowParticipations li,
#listToShowNotifications li {
    display: block;
    position: relative;
}

#listToShowUser li:hover,
#listToShowContact li:hover,
#listToShowGuest li:hover,
#listToShowMeeting li:hover,
#listToShowParticipations li:hover,
#listToShowApprovals li:hover,
#listToShowParticipations li:hover,
#listToShowNotifications li:hover {
    background: #81e3fc;
    border-radius: 10px;
}

#listToShow li {
    padding: 10px;
    /* Add padding to each list item */
}

.centre-container1,
.centre-container2,
.left-container,
.right-container {
    background: #fff;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
}

.centre-container {
    background: #fff;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    margin: auto;
}

.flex-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    width: 100%;
}

.left-container,
.centre-container1,
.centre-container2,
.right-container {
    width: 100%;
}

.squash-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    width: 60%;
}

input[type=text],
input[type=password],
input[type=datetime-local] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}

.address-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    resize: vertical;
}

button[type=submit],
button[type=button] {
    background-color: #4ca3af;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

button[type=submit]:hover,
button[type=button]:hover {
    opacity: 0.8;
}

.password-container {
    display: flex;
    align-items: center;
}

#passwordPrompt {
    flex-grow: 2;
}

#refreshButton {
    flex-grow: 1;
    margin-left: 10px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}


.nav-links {
    display: flex;
    margin-right: auto;
    max-height: 50px;
}

.top-container {
    background: #fff;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-height: 50px;
}


@media (max-width: 600px) {

    /* Styles for mobile */
    body {
        font-size: 14px;
        /* Adjusting font size for mobile */
        padding: 5px;
    }

    h2 {
        font-size: 18px;
    }

    ul li a {
        font-size: 18px;
    }

    .centre-container {
        width: 100%;
        /* Take the full width of the screen */
        padding: 5px;
        box-sizing: border-box;
    }

}

@media (min-width: 601px) and (max-width: 900px) {

    /* Styles for tablet */
    body {
        font-size: 16px;
        /* Adjusting font size for tablet */
        padding: 10px;
    }

    h2 {
        font-size: 20px;
    }

    ul li a {
        font-size: 19px;
    }

    .centre-container {
        width: 90%;
        /* Leave some space on the sides for aesthetics */
        max-width: 600px;
        /* Ensure the container doesn't stretch too much */
        padding: 10px;
        margin: 0 auto;
        /* Center the container */
        box-sizing: border-box;
    }
}

@media (min-width: 901px) {

    .centre-container {
        width: 80%;
        /* Relative to the screen size */
        max-width: 800px;
        /* Set a reasonable maximum width */
        padding: 20px;
        margin: 0 auto;
        /* Center the container */
        box-sizing: border-box;
    }
}